In [7]:
import pandas as pd
import numpy as np
import collections

In [15]:
string_cols = ['UNITID', 'UNITID2', 'UNITDESC', 'SIDE', 'BLOCK_ID','CSM', 'PARKING_CATEGORY', 'RPZ_ZONE', 
               'RPZ_AREA', 'PAIDAREA', 'SUBAREA', 'START_TIME_WKD', 'END_TIME_WKD', 
               'START_TIME_SAT', 'END_TIME_SAT','PRIMARYDISTRICTCD', 'SECONDARYDISTRICTCD', 
               'OVERRIDEYN', 'OVERRIDECOMMENT']
all_types = {k:np.str_ for k in string_cols}

u_int_cols = ['OBJECTID', 'ELMNTKEY', 'SEGKEY']
all_types.update({k:np.uint64 for k in u_int_cols})

time_cols = ['WKD_START1', 'WKD_END1','WKD_START2', 'WKD_END2', 'WKD_START3', 'WKD_END3', 
            'SAT_START1', 'SAT_END1', 'SAT_START2', 'SAT_END2', 'SAT_START3', 'SAT_END3']
all_types.update({k:np.str_ for k in time_cols})

float_cols = ['BLOCK_NBR',  'LOAD', 'ZONE', 'TOTAL_ZONES', 'WKD_RATE1', 'WKD_RATE2', 'WKD_RATE3', 
              'SAT_RATE1', 'SAT_RATE2', 'SAT_RATE3', 'PARKING_TIME_LIMIT', 'SHAPE_Length']
all_types.update({k:np.float64 for k in float_cols})

In [16]:
blockfaces = pd.read_csv('collect_data/data_files/Blockface.csv', dtype=all_types)

In [17]:
blockfaces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47675 entries, 0 to 47674
Data columns (total 46 columns):
OBJECTID               47675 non-null uint64
ELMNTKEY               47675 non-null uint64
SEGKEY                 47675 non-null uint64
UNITID                 47675 non-null object
UNITID2                47675 non-null object
UNITDESC               47675 non-null object
SIDE                   47675 non-null object
BLOCK_ID               2387 non-null object
BLOCK_NBR              47675 non-null float64
CSM                    47675 non-null object
PARKING_CATEGORY       47675 non-null object
LOAD                   47675 non-null float64
ZONE                   47675 non-null float64
TOTAL_ZONES            47675 non-null float64
WKD_RATE1              47675 non-null float64
WKD_START1             47675 non-null object
WKD_END1               47675 non-null object
WKD_RATE2              47675 non-null float64
WKD_START2             47675 non-null object
WKD_END2               47675 non-null object
WKD_RATE3              46881 non-null float64
WKD_START3             46881 non-null object
WKD_END3               46881 non-null object
SAT_RATE1              47651 non-null float64
SAT_START1             47651 non-null object
SAT_END1               47651 non-null object
SAT_RATE2              47651 non-null float64
SAT_START2             47651 non-null object
SAT_END2               47651 non-null object
SAT_RATE3              46881 non-null float64
SAT_START3             46881 non-null object
SAT_END3               46881 non-null object
RPZ_ZONE               3828 non-null object
RPZ_AREA               1461 non-null object
PAIDAREA               2637 non-null object
PARKING_TIME_LIMIT     4955 non-null float64
SUBAREA                2031 non-null object
START_TIME_WKD         2637 non-null object
END_TIME_WKD           2637 non-null object
START_TIME_SAT         2613 non-null object
END_TIME_SAT           2613 non-null object
PRIMARYDISTRICTCD      47675 non-null object
SECONDARYDISTRICTCD    47675 non-null object
OVERRIDEYN             47675 non-null object
OVERRIDECOMMENT        0 non-null object
SHAPE_Length           47675 non-null float64
dtypes: float64(12), object(31), uint64(3)
memory usage: 16.7+ MB

In [18]:
blockfaces.columns

Index(['OBJECTID', 'ELMNTKEY', 'SEGKEY', 'UNITID', 'UNITID2', 'UNITDESC',
       'SIDE', 'BLOCK_ID', 'BLOCK_NBR', 'CSM', 'PARKING_CATEGORY', 'LOAD',
       'ZONE', 'TOTAL_ZONES', 'WKD_RATE1', 'WKD_START1', 'WKD_END1',
       'WKD_RATE2', 'WKD_START2', 'WKD_END2', 'WKD_RATE3', 'WKD_START3',
       'WKD_END3', 'SAT_RATE1', 'SAT_START1', 'SAT_END1', 'SAT_RATE2',
       'SAT_START2', 'SAT_END2', 'SAT_RATE3', 'SAT_START3', 'SAT_END3',
       'RPZ_ZONE', 'RPZ_AREA', 'PAIDAREA', 'PARKING_TIME_LIMIT', 'SUBAREA',
       'START_TIME_WKD', 'END_TIME_WKD', 'START_TIME_SAT', 'END_TIME_SAT',
       'PRIMARYDISTRICTCD', 'SECONDARYDISTRICTCD', 'OVERRIDEYN',
       'OVERRIDECOMMENT', 'SHAPE_Length'],
      dtype='object')

In [20]:
blockfaces.describe()

,OBJECTID,ELMNTKEY,SEGKEY,BLOCK_NBR,LOAD,ZONE,TOTAL_ZONES,WKD_RATE1,WKD_RATE2,WKD_RATE3,SAT_RATE1,SAT_RATE2,SAT_RATE3,PARKING_TIME_LIMIT,SHAPE_Length
count,47675.000000,47675.000000,47675.000000,47675.000000,47675.000000,47675.000000,47675.000000,47675.000000,47675.000000,46881.000000,47651.000000,47651.000000,46881.000000,4955.000000,47675.000000
mean,46019.652438,51015.715826,34799.344961,3863.764615,0.071505,0.061835,0.137619,0.126607,0.181563,0.113543,0.126167,0.180983,0.113543,11.039455,389.346771
std,16988.029484,31359.097883,98469.874772,3259.473827,0.384039,0.415330,0.615112,0.605700,0.814030,0.604186,0.605536,0.813755,0.604186,193.795539,410.177684
min,11.000000,1001.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
25%,35995.500000,25141.500000,7052.000000,1300.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,229.750376
50%,47914.000000,49274.000000,13156.000000,3100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,295.214824
75%,59832.500000,73433.500000,19146.000000,5500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,488.609611
max,71751.000000,137825.000000,733538.000000,77000.000000,26.000000,16.000000,26.000000,4.500000,5.000000,4.500000,4.500000,5.000000,4.500000,4320.000000,15025.043983

In [21]:
blockfaces.head()

,OBJECTID,ELMNTKEY,SEGKEY,UNITID,UNITID2,UNITDESC,SIDE,BLOCK_ID,BLOCK_NBR,CSM,...,SUBAREA,START_TIME_WKD,END_TIME_WKD,START_TIME_SAT,END_TIME_SAT,PRIMARYDISTRICTCD,SECONDARYDISTRICTCD,OVERRIDEYN,OVERRIDECOMMENT,SHAPE_Length
0,11,124508,491748,07753,1681,I5 SB BETWEEN BOYLSTON AV E OFF RP AND I5 SB S...,E,NaN,1681.0,N,...,NaN,NaN,NaN,NaN,NaN,DISTRICT4,,N,NaN,1105.052441
1,12,122232,287020,08767,0225,MOUNTAINS TO SOUND TRL BETWEEN S ATLANTIC ST A...,E,NaN,2200.0,N,...,NaN,NaN,NaN,NaN,NaN,DISTRICT3,,N,NaN,260.578014
2,26,122231,287020,08767,0225,MOUNTAINS TO SOUND TRL BETWEEN S ATLANTIC ST A...,W,NaN,2200.0,N,...,NaN,NaN,NaN,NaN,NaN,DISTRICT3,,N,NaN,278.462008
3,33,124509,491748,07753,1681,I5 SB BETWEEN BOYLSTON AV E OFF RP AND I5 SB S...,W,NaN,1681.0,N,...,NaN,NaN,NaN,NaN,NaN,DISTRICT4,,N,NaN,1105.052462
4,53,24633,1635,00335,0900,12TH AVE NW BETWEEN NW 90TH ST AND NW 92ND ST,W,NaN,9000.0,N,...,NaN,NaN,NaN,NaN,NaN,DISTRICT6,,N,NaN,634.025104

In [30]:
blockfaces[blockfaces['PAIDAREA'].notna()]['ELMNTKEY'].sort_values()

568       1001
3228      1002
3445      1005
3227      1006
4626      1009
4191      1010
3157      1013
2021      1014
3722      1017
5647      1018
3562      1021
4254      1022
5357      1025
4331      1026
4252      1029
4897      1030
3801      1033
4173      1034
2373      1037
3036      1038
3560      1041
266       1042
5274      1045
3728      1046
490       1213
5369      1214
3659      1217
594       1218
3311      1221
513       1222
         ...
1252    123977
1253    123978
4408    124002
4498    124003
9039    124980
9040    124981
641     125229
4385    125230
5449    129888
5652    129889
237     129929
3004    129930
379     130708
2272    130793
3279    130794
5597    130799
2896    130800
5650    130802
3282    130803
3363    132441
4540    132442
5593    134101
4569    134102
4110    134961
4827    134962
3804    134964
4018    134965
3409    135261
5196    136041
5573    136322
Name: ELMNTKEY, Length: 2637, dtype: uint64